body{
  background-color: #212121;
}

#footer{
  background-color: #343a40;
  height: 400px;
}
#header{
  background-color: #212121;
}

h1{
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

div.card{
  border: 0;

  background-color: #353535;
}

div.card h3{
  color: white;
}

div.card p{
  color: #656565;
}

#separador{
  width: 100%;
  height: 3px;
  background-color: gray;
  border: 0;
}

h4{
  color: #656565;
}

#rectangulo1{
  background-color: #757575;
  height: 150px;
  display: flex;
  align-items: center;
  align-items: center;

}

#rectangulo2{
  background-color: #757575;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  
}

#rectangulo3{
  background-color: #757575;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
#rectangulo4{
  background-color: #757575;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
#rectangulo5{
  background-color: #757575;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
#rectangulo6{
  background-color: #757575;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
#centrar{
  justify-content: center;
  display: flex;
  align-items: center;
}



#rectangulo1:hover {
  background-color: blue;  
  }

#rectangulo1:hover #affected {
filter: invert(100%);  
}

#rectangulo2:hover {
  background-color: red;  
  }

#rectangulo2:hover #affected {
filter: invert(100%);  
}

#rectangulo3:hover {
  background-color: yellow;  
  }

#rectangulo3:hover #affected {
filter: invert(100%);  
}

#rectangulo4:hover #affected {
  filter: invert(100%);  
  }

#rectangulo5:hover #affected {
    filter: invert(100%);  
    }
#rectangulo6:hover #affected {
  filter: invert(100%);  
}

#rectangulo4:hover {
  background-color: purple;  
  }
#rectangulo5:hover {
    background-color: green;  
}
#rectangulo6:hover {
    background-color: orange;  
}


#guia:hover{
filter: blur(8px);
}

.img-fluid:hover{
  transform: scale(1.05);

}

span{
  font-size: x-large;
  color: white;
}

li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}
ul{
  display: inline;
}
a{
  display: inline;
  padding: 7px;
}

#junto{
  display: inline;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: white;
}

a:hover{
  color: #858588;
}

.form{
  display: inline;
  padding-left: 15px;
}
button{
  display: inline;
  border-radius: 8px;
  background-color: transparent;
  color: none;
  border: 2px solid white; 
}

input{
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
}





.carta {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #353535;
  border-radius: 0;
  word-wrap: break-word;



}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h4{
  color: white;
}
p{
  color: #656565;
}
#centrar {
  position: relative;
}

.texto {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 18px;
  display: none;
}

#centrar:hover .texto {
  display: block;
}

#guia{
  text-align: center;
  border: 1px;
}