body{
  background-color: #343a40;
}
.bg-image{
background-image: url('Imagenes/fondo2.jpeg');
background-size: cover;
background-attachment: fixed;
height: 100vh;

}
.img-fluid {
  transition: transform .5s;
  width:"290px";
  height:"20px";
}
.img-fluid:hover{
  transform: scale(1.1);

}

img:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.table-no-scrollbar{
  overflow: hidden;

}

section{
  display: flex;
  height: 430px;
  width: 600px;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: .5s ease;
}

section img:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.text-overlay{
  display: none;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
}
.img-hover:hover + .text-overlay {
  display: block;
}