body{
  background-color: #212121;
  background-image: url(Imagenes/fondo3.png);
}
header{
  color: #212121 !important;
}

footer{
  background-color: #343a40;
}

#footer{
  background-color: #343a40;
}
#header{
  background-color: #212121;
}